<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>App Météo</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Sunu Météo</h1>
    <nav>
      <a href="/">Accueil</a>
      <a href="/meteo">Météo</a>
    </nav>
  </header>

  <main>
    <%- body %>
    <!-- Ici s’affiche le contenu des pages -->
  </main>

  <footer>
    <p>&copy; 2025 - Mon App Météo</p>
  </footer>
</body>
</html>
